{% extends 'base.html' %}
{% load static %}


{% block 'content' %}

{% for message in messages %}
{{message}}
{% endfor %}

<div class="contact-form spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact__form__title">
          <h2>Login</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="row">

            <div class="col-lg-12 col-md-12">
              <input name="username" type="text" placeholder="Your username">
            </div>

          </div>

          <div class="row">

            <div class="col-lg-12 col-md-12 text-center">
              <input name="password" type="password" placeholder="Your password">
            </div>

          </div>

          <div style="margin:20px;" class="row">

            <div class="col-lg-12 text-center">
              <a style="color:green;" href="{% url 'register' %}">Don't have an account?</a>
            </div>

          </div>

          <div class="col-lg-12 ">
            <button style="width:105%;margin-left:-10px;" type="submit" class="site-btn">Login</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <img style="margin-top:-130px;"
          src="https://cdni.iconscout.com/illustration/premium/thumb/user-showing-user-login-page-in-website-or-application-1886527-1597938.png"
          alt="">
      </div>
    </div>

  </div>
</div>


<footer class="footer spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__about__logo">
            <a href="index-2.html"><img src="img/xlogo.png.pagespeed.ic.ap5icp--OT.png" alt=""></a>
          </div>
          <ul>
            <li>Address: 60-49 Road 11378 New York</li>
            <li>Phone: +65 11.188.888</li>
            <li>Email: <a href="https://preview.colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__"
                data-cfemail="d5bdb0b9b9ba95b6bab9baa7b9bcb7fbb6bab8">[email&#160;protected]</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
        <div class="footer__widget">
          <h6>Useful Links</h6>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">About Our Shop</a></li>
            <li><a href="#">Secure Shopping</a></li>
            <li><a href="#">Delivery infomation</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Our Sitemap</a></li>
          </ul>
          <ul>
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Innovation</a></li>
            <li><a href="#">Testimonials</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="footer__widget">
          <h6>Join Our Newsletter Now</h6>
          <p>Get E-mail updates about our latest shop and special offers.</p>
          <form action="#">
            <input type="text" placeholder="Enter your mail">
            <button type="submit" class="site-btn">Subscribe</button>
          </form>
          <div class="footer__widget__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="footer__copyright">
          <div class="footer__copyright__text">
            <p>
              Copyright &copy;<script data-cfasync="false"
                src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
              <script>
                document.write(new Date().getFullYear());
              </script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i>
              by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
            </p>
          </div>
          <div class="footer__copyright__payment"><img src="img/xpayment-item.png.pagespeed.ic.IsCge16PaL.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{% endblock %}