{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
{% for message in messages %}
{{message}}
{% endfor %}
<div class="contact-form spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact__form__title">
          <h2>Register</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          <div class="row">

            <div class="col-lg-12 col-md-12">
              <input type="text" name="username" placeholder="Username">
            </div>

          </div>

          <div class="row">

            <div class="col-lg-12 col-md-12 text-center">
              <input type="email" name="email" placeholder="Email address">
            </div>

          </div>


          <div class="row">

            <div class="col-lg-12 col-md-12 text-center">
              <input name="password" type="password" placeholder="Password">
            </div>

          </div>

          <div class="row">

            <div class="col-lg-12 col-md-12 text-center">
              <input name="confirm_password" type="password" placeholder="Confirim Password">
            </div>

          </div>


          <div style="margin:10px;" class="col-lg-12 col-md-12 text-center">
            <a href="{% url 'login' %}" style="color:green;">Already have an account?</a>
          </div>
          <div class="col-lg-12 ">
            <button style="width:105%;margin-left:-10px;" type="submit" class="site-btn">Register</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <img style="height: 600px;margin-top:-90px;"
          src="https://cdni.iconscout.com/illustration/premium/thumb/sign-up-page-1886582-1598253.png" alt="">
      </div>
    </div>

  </div>
</div>

{% endblock %}