{% extends 'base.html' %}
{% load static %}


{% block 'content' %}

<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
            <img class="product__details__pic__item--large" src="/{{details.image}}" alt="">
          </div>
          <div class="product__details__pic__slider owl-carousel">
            <img data-imgbigurl="img/product/details/product-details-2.jpg"
              src="img/product/details/xthumb-1.jpg.pagespeed.ic.SeqUEM1dNb.jpg" alt="">
            <img data-imgbigurl="img/product/details/product-details-3.jpg"
              src="img/product/details/xthumb-2.jpg.pagespeed.ic.e3XPI_Gg2F.jpg" alt="">
            <img data-imgbigurl="img/product/details/product-details-5.jpg"
              src="img/product/details/xthumb-3.jpg.pagespeed.ic.ywo2R_vdns.jpg" alt="">
            <img data-imgbigurl="img/product/details/product-details-4.jpg"
              src="img/product/details/xthumb-4.jpg.pagespeed.ic.N135Z3ySXJ.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <h3>{{details.name}}</h3>
          <div class="product__details__rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <span>(18 reviews)</span>
          </div>
          <div class="product__details__price">${{details.price}}</div>
          <p>{{details.description}}</p>
          <form action="{% url 'cart' details.id %}" method="POST">
            {% csrf_token %}
            <div class="product__details__quantity">
              <div class="quantity">
                <div class="pro-qty">
                  <input name="quantity" type="text" value="1">
                </div>
              </div>
            </div>
            <button href="" type="submit" class="primary-btn addToCart cart">ADD TO CARD</button>


            <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
          </form>
          <ul>
            <li><b>Availability</b> <span>{{details.available}}</span></li>
            <li><b>Shipping</b> <span>{{details.shipping_day}}</span></li>
            <li><b>Weight</b> <span>{{details.weight}} kg</span></li>

          </ul>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="related-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title related__product__title">
          <h2>Related Product</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for item in related %}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg" data-setbg="/{{item.image}}">
            <ul class="product__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><a href="#">{{item.name}}</a></h6>
            <h5>${{item.price}}</h5>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>


<script>
  console.log("Cart code.......")
  if (localStorage.getItem('cart') == null) {
    var cart = {};
    console.log("It is null");
  } else {
    cart = JSON.parse(localStorage.getItem('cart'));
  }
  var cartAction = document.querySelector('.cart');
  cartAction.addEventListener('click', function () {
    console.log("Click");
    var id = this.id.toString();
    console.log(id);
    if (cart[id] != undefined) {
      cart[id] = cart[id] + 1;
    } else {
      cart[id] = 1;
    }
    console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart));

  });
</script>

{% endblock %}